*.class
LexicalAnalysis/Scanner.java

Parsing/sym.java
Parsing/mjavac.java
Parsing/Scanner.java

ErrorHandling/sym.java
ErrorHandling/mjavac.java
ErrorHandling/Scanner.java

SymbolTable/sym.java
SymbolTable/mjavac.java
SymbolTable/Scanner.java

Types/sym.java
Types/mjavac.java
Types/Scanner.java

TypeChecking/sym.java
TypeChecking/mjavac.java
TypeChecking/Scanner.java

CodeGenerator/sym.java
CodeGenerator/mjavac.java
CodeGenerator/Scanner.java
